# folder
/build
/build/*
/tensorflow/2ddata_gan
/tensorflow/2ddata_gan/*
tensorflow/2ddata_sim
/tensorflow/2ddata_sim/*
/tensorflow_v1
/tensorflow_v1/*
/tensorflow_v1_bak
/tensorflow_v1_bak/*
/tensorflow_v2
/tensorflow_v2/*
/tensorflow_v2_bak
/tensorflow_v2_bak/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
